@import "mixins/font-face";

@mixin text-max-height($font-size, $line-height,$lines) {
  max-height: ((($line-height/$font-size)*$lines) em);
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hide-scrollbar {

  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

  }
}