header.c-header
    ul.c-controls-list
        li.c-controls-list__item
            a(href="#").c-btn.c-personal-control.c-personal-control_notification
                .c-personal-control__img
                    +svgSprite({width: 24, height: 18, name: 'message', class: 'c-personal-control__icon'})
        li.c-controls-list__item
            a(href="#").c-btn.c-profile-btn
                .c-profile-btn__img(style="background-image:url(images/profile.jpg)")
                .c-profile-btn__title Максим Добжанский