include mixins
doctype html
html(lang="ru")
    include head
    body
        .page
            include side-menu
            .content
                include header
                block content
        include footer
    include scripts
