nav.c-nav-menu
    .c-nav-menu__logo
        img(src="images/logo.png").c-logo
    button(type="button",data-hide-menu).c-nav-menu__hide
    a.c-nav-item(href='#')
        +svgSprite({height: 18, width: 20, name: 'menu_1', class: 'c-nav-item__icon'})
        .c-nav-item__title Главная

    a.c-nav-item.c-nav-item_active(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_2', class: 'c-nav-item__icon'})
        .c-nav-item__title Мои магазины

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_3', class: 'c-nav-item__icon'})
        .c-nav-item__title Промоматериалы

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_4', class: 'c-nav-item__icon'})
        .c-nav-item__title Статистика

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_5', class: 'c-nav-item__icon'})
        .c-nav-item__title Баланс

    a.c-nav-item(href='#')
        +svgSprite({height: 18, width: 20, name: 'menu_6', class: 'c-nav-item__icon'})
        .c-nav-item__title Персональные данные

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_7', class: 'c-nav-item__icon'})
        .c-nav-item__title FAQ

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_8', class: 'c-nav-item__icon'})
        .c-nav-item__title Техподдержка

    a.c-nav-item(href='#')
        .c-nav-item__icon
            +svgSprite({height: 18, width: 20, name: 'menu_9', class: 'c-nav-item__icon'})
        .c-nav-item__title Выход