<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="template_styles.css" rel="stylesheet">
</head>
<body>
<header class="c-header">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-9">
                <nav class="row align-items-center">
                    <div class="col-1"><a class="c-header__logo" href="index.html"><img alt=""
                                                                                        src="images/logo.png"></a></div>
                    <div class="col-9">
                        <ul class="c-top-menu row">
                            <li class="col-auto c-top-menu__item"><a class="c-top-menu__link" href="#">Продукты и
                                решения</a>
                            </li>
                            <li class="col-auto c-top-menu__item c-top-menu__item_active"><a class="c-top-menu__link"
                                                                                             href="#">Подбор
                                по параметрам</a></li>
                            <li class="col-auto c-top-menu__item"><a class="c-top-menu__link" href="#">Гарантия</a></li>
                            <li class="col-auto c-top-menu__item"><a class="c-top-menu__link" href="#">Защита в
                                проекте</a></li>
                            <li class="col-auto c-top-menu__item"><a class="c-top-menu__link" href="#">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-3">

                <ul class="c-header-icon-list">
                    <li class="c-header-icon-list__item">
                        <button class="c-header-icon-list__btn c-btn" data-search-trigger title="поиск" type="button">
                         <span class="c-header-icon-list__icon">
                        <svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m21 21-4.5-4.5L21 21Zm-2-10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0v0Z"
                                  stroke="#7C7C7C" stroke-linecap="round" stroke-width="2"/>
                        </svg>
                    </span>
                        </button>
                        <div class="c-header-search d-none" data-search-form>
                            <div class="c-header-search__inner">
                                <form action="#" class="c-search-form c-search-form_header">
                                    <input class="c-input c-input_style-default c-input_md c-input_color-primary"
                                           placeholder="Введите запрос..." required type="text">
                                    <button class="c-search-form__submit c-btn" title="поиск" type="submit">
                         <span>
                        <svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m21 21-4.5-4.5L21 21Zm-2-10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0v0Z"
                                  stroke="#21458C" stroke-linecap="round" stroke-width="2"/>
                        </svg>
                    </span>
                                    </button>

                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="c-header-icon-list__item">
                        <button class="c-header-icon-list__btn c-btn" title="сравнения" type="button">
                    <span class="c-header-icon-list__icon">
                        <svg fill="none" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M17.8 15.6H1.7V.9L1.5.7H.2L0 1v16.2l.2.1h17.6l.2-.1v-1.4l-.2-.1Zm-14-2H5l.2-.1v-3.4L5 10H3.8c-.2 0-.2.1-.2.2v3.4l.1.2Zm3.5 0h1.3l.2-.1V6c0-.1 0-.2-.2-.2H7.3l-.2.2v7.5l.2.2Zm3.6 0h1.3l.2-.1V7.8l-.2-.2h-1.3l-.2.2v5.7c0 .1 0 .2.2.2Zm3.5 0h1.3l.2-.1V4.1s0-.2-.2-.2h-1.3l-.2.2v9.4l.2.2Z"
                                                                          fill="#7C7C7C"></path>
                                                                </svg>
                    </span>
                            <span class="c-header-icon-list__count">
                        <span class="c-header-icon-list__count-text">0</span>
                    </span>
                        </button>
                    </li>
                    <li class="c-header-icon-list__item">
                        <button class="c-header-icon-list__btn c-btn" title="избранное" type="button">
                    <span class="c-header-icon-list__icon">
                            <svg fill="none" height="20" width="22" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M20.6 4.6a6 6 0 0 0-3.3-3.2 6.2 6.2 0 0 0-6.3 1A6.1 6.1 0 0 0 7 .8a6.2 6.2 0 0 0-5.6 3.7A6 6 0 0 0 .9 7c0 .8.1 1.6.5 2.5l1 2a35 35 0 0 0 7.6 7l.6.5c.2.1.6.1.8 0l.6-.4s2.2-1.4 4.4-3.5c1.3-1.2 2.3-2.4 3.1-3.5.5-.7.9-1.5 1.1-2.1.4-.9.5-1.7.5-2.5a6 6 0 0 0-.5-2.4ZM11 17.1s-8.3-5.3-8.3-10A4.4 4.4 0 0 1 11 5a4.4 4.4 0 0 1 4-2.4c2.4 0 4.3 2 4.3 4.3 0 4.8-8.3 10.1-8.3 10.1Z"
                                                                          fill="#7C7C7C"></path>
                                                                </svg>
                    </span>
                            <span class="c-header-icon-list__count">
                        <span class="c-header-icon-list__count-text">99+</span>
                    </span>
                        </button>
                    </li>
                    <li class="c-header-icon-list__item">
                        <button class="c-header-icon-list__btn c-btn" title="корзина" type="button">
                    <span class="c-header-icon-list__icon">
<svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path
        d="M21.6 16.5h-14l.8-1.5H20c.4 0 .7-.3.8-.7l1.6-9a.8.8 0 0 0-.8-1H6.8l-.1-.6c0-.4-.4-.7-.8-.7H2.3a.8.8 0 1 0 0 1.7h3l.5 2.6L7 14l-1.7 2.9a.8.8 0 0 0-.1.8c.1.3.4.5.7.5h1.5a2.4 2.4 0 1 0 3.9 0H15a2.4 2.4 0 1 0 3.9 0h2.6a.8.8 0 0 0 .6-1.4.8.8 0 0 0-.6-.2ZM7.2 5.9h13.5l-1.4 7.5H8.7L7.2 5.9Zm2.2 14.4a.7.7 0 0 1 0-1.5.7.7 0 0 1 0 1.5Zm7.7 0a.7.7 0 0 1 0-1.5.7.7 0 0 1 0 1.5Z"
        fill="#7C7C7C"/></svg>
                    </span>
                            <span class="c-header-icon-list__count">
                        <span class="c-header-icon-list__count-text">5</span>
                    </span>
                        </button>
                    </li>
                    <li class="c-header-icon-list__item">
                        <button class="c-header-icon-list__btn c-btn" title="выход" type="button">
                    <span class="c-header-icon-list__icon">
<svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m11 16 5-4-5-4v3H2v2h9v3Z"
                                                                                 fill="#7C7C7C"/><path
        d="M13 3a9 9 0 0 0-6.4 2.6L8 7.1a7 7 0 0 1 10 0 7 7 0 0 1 0 9.9 7 7 0 0 1-10 0l-1.4 1.4a9 9 0 0 0 12.8 0 9 9 0 0 0 0-12.8A9 9 0 0 0 13 3Z"
        fill="#7C7C7C"/></svg>
                    </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="c-section c-section_lg pt-0">
    <h1 class="visually-hidden">Телекоммуникационные и серверные
        шкафы ntss</h1>
    <div class="c-main-banner">
        <div class="owl-carousel c-slider c-slider_h-100" data-main-slider="3">
            <div class="c-slider__item" style="background-image: url(images/banner.jpg);">
                <div class="row c-main-banner__title">
                    <div class="offset-6 col-4">
                        Телекоммуникационные и серверные
                        <b>шкафы ntss</b>
                    </div>
                </div>
            </div>
            <div class="c-slider__item" style="background-image: url(images/banner.jpg);">
                <div class="row"
                     style="color: white; font-size: 40px; line-height: 1.4; margin-top: 150px; text-transform:uppercase;">
                    <div class="offset-6 col-4">
                        Телекоммуникационные и серверные
                        <b>шкафы ntss</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <h2 class="c-title c-title_md text-uppercase text-center">продукты и решения</h2>
        </div>
        <div class="c-section__body">
            <div class="row u-reset-indent">
                <div class="col-2">
                    <a class="c-category-card c-category-card_events" href="#">
                        <div class="c-category-card__preview"
                             style="background-image: url(images/ao-1.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </a>
                </div>
                <div class="col-2"> 5
                    <a class="c-category-card c-category-card_events" href="#">
                        <div class="c-category-card__preview"
                             style="background-image: url(images/ao-2.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="c-section c-section_lg">
        <div class="c-section__body">
            <div class="row">
                <div class="col-5">
                    <div class="c-title c-title_sm mb-2">Структурированная кабельная система (СКС)</div>
                    <p class="mb-5">
                        Это основа информационной структуры любого предприятия. Всё разнообразие информационных сервисов
                        различных типов и назначений, различных периферийных устройств, а так же автоматизированных
                        рабочих
                        мест, СКС позволяет объединить в одну систему. Такие системы как: локальные и телефонные сети,
                        охранно-пожарная сигнализация, система видеонаблюдения, контроль и управление доступом, являются
                        неотъемлемой частью любой современной организации.
                    </p>
                    <button class="c-btn c-btn_style-default c-btn_color-primary c-btn_lg c-btn_width-md" type="button">
                        Защита проекта
                    </button>
                </div>
                <div class="col-6 offset-1">
                    <div class="slider-wrap">
                        <div class="owl-carousel c-slider" data-main-slider="2">
                            <div class="c-slider__item">
                                <div class="row c-product-list c-product-list_md">
                                    <div class="col-4 c-product-list__item"> 6
                                        <a class="c-simple-product-card c-simple-product-card_events c-link" href="#">
                                            <div class="c-simple-product-card__body"
                                                 style="background-image: url(images/kab.png)">
                                            </div>
                                            <div class="c-simple-product-card__title">Кабельная сборка NTSS PREMIUM 6pc,
                                                UTP CAT6, оконцована
                                                разъемами KEYSTONE RJ45 UTP CAT6, заделка в чулке, вывод 0.6м, длина
                                                30м, LSZH, оранжевый
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="c-slider__item">
                                <div class="c-product-list c-product-list_md row">
                                    <div class="c-product-list__item col-4"> 3
                                        <div class="c-product-card c-product-card_md c-product-card_events">
                                            <div class="c-product-card__actions c-icon-list">
                                                <div class="c-icon-list__item">
                                                    <button class="c-btn c-btn_product-action" type="button">
                                                        <svg fill="none" height="18" width="18"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17.8 15.6H1.7V.9L1.5.7H.2L0 1v16.2l.2.1h17.6l.2-.1v-1.4l-.2-.1Zm-14-2H5l.2-.1v-3.4L5 10H3.8c-.2 0-.2.1-.2.2v3.4l.1.2Zm3.5 0h1.3l.2-.1V6c0-.1 0-.2-.2-.2H7.3l-.2.2v7.5l.2.2Zm3.6 0h1.3l.2-.1V7.8l-.2-.2h-1.3l-.2.2v5.7c0 .1 0 .2.2.2Zm3.5 0h1.3l.2-.1V4.1s0-.2-.2-.2h-1.3l-.2.2v9.4l.2.2Z"
                                                                  fill="#7C7C7C"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="c-icon-list__item">
                                                    <button class="c-btn c-btn_product-action" type="button">
                                                        <svg fill="none" height="20" width="22"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.6 4.6a6 6 0 0 0-3.3-3.2 6.2 6.2 0 0 0-6.3 1A6.1 6.1 0 0 0 7 .8a6.2 6.2 0 0 0-5.6 3.7A6 6 0 0 0 .9 7c0 .8.1 1.6.5 2.5l1 2a35 35 0 0 0 7.6 7l.6.5c.2.1.6.1.8 0l.6-.4s2.2-1.4 4.4-3.5c1.3-1.2 2.3-2.4 3.1-3.5.5-.7.9-1.5 1.1-2.1.4-.9.5-1.7.5-2.5a6 6 0 0 0-.5-2.4ZM11 17.1s-8.3-5.3-8.3-10A4.4 4.4 0 0 1 11 5a4.4 4.4 0 0 1 4-2.4c2.4 0 4.3 2 4.3 4.3 0 4.8-8.3 10.1-8.3 10.1Z"
                                                                  fill="#7C7C7C"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="c-icon-list__item">
                                                    <button class="c-btn c-btn_product-action" type="button">
                                                        <svg fill="none" height="16" width="22"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.3 7c.4.6.4 1.4 0 2-1.5 2-5.1 6-9.3 6-4.2 0-7.8-4-9.3-6a1.7 1.7 0 0 1 0-2C3.2 5 6.8 1 11 1c4.2 0 7.8 4 9.3 6v0Z"
                                                                  stroke="#7C7C7C" stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                  stroke-width="2"></path>
                                                            <path d="M11 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                                                                  stroke="#7C7C7C"
                                                                  stroke-linecap="round" stroke-linejoin="round"
                                                                  stroke-width="2"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                            <a class="c-product-card__preview" href="#">
                                                <img alt="" src="images/cupboard.png">
                                            </a>
                                            <div class="c-product-card__description">
                                                <div class="c-product-desc">
                                                    <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                        Напольный серверный
                                                        шкаф
                                                        NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной в сборе, две
                                                        dljsfhkdwhsfhdslfhsdl;f
                                                    </a>
                                                    <div class="c-product-desc__articul c-product-desc__item">
                                                        343423426524345
                                                    </div>
                                                    <div class="c-product-desc__price c-product-desc__item">
                                                        <div class="c-product-price">
                                                            <span class="c-product-price__item">14 990 ₽</span>
                                                            <span class="c-product-price__item c-product-price__old">19 990 ₽</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-product-card__controls">
                                                <div class="c-product-controls">
                                                    <div class="c-product-controls__body">
                                                        <div class="c-product-controls__counter c-input-counter">
                                                            <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                                   type="text" value="1">
                                                            <button class="c-input-counter__left-ctrl" type="button">-
                                                            </button>
                                                            <button class="c-input-counter__right-ctrl" type="button">
                                                                +
                                                            </button>
                                                        </div>
                                                        <a class="c-product-controls__basket c-btn c-btn_style-default c-btn_color-primary c-btn_sm" data-basket-btn
                                                           href="#popup-form"
                                                           type="button"> В корзину
                                                        </a>
                                                    </div>
                                                    <div class="c-product-controls__footer">
                                                        <button class="c-product-controls__buy c-btn c-btn_style-default c-btn_color-light c-btn_sm"
                                                                href="#"
                                                                type="button"> Купить в один клик
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-wrap__slider-controls"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-section c-section_lg">
    <a class="c-secondary-banner" href="#" style="background-image:url(images/calc-banner.jpg);">
        <div class="c-secondary-banner__title">
            Калькулятор цены <br>
            <b>Системы изоляции ntss</b> <br>
            без регистрации
        </div>
    </a>
</div>
<div class="container">
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <div class="c-title c-title_md text-uppercase">новости</div>
        </div>
        <div class="c-section__body">
            <div class="row">
                <div class="col-3"> 4
                    <a class="c-news-card c-news-card_events" href="#">
                        <div class="c-news-card__preview"
                             style="background-image: url(images/news-1.jpg)">
                        </div>
                        <div class="c-news-card__title">Название новости, может быть в <br> несколько строк</div>
                        <div class="c-news-card__date">01.01.2022</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <h2 class="c-title c-title_md text-uppercase text-center">О компании NTSS</h2>
        </div>
        <div class="c-section__body">
            <div class="row">
                <div class="col-5">
                    <p class="mb-5">
                        Основанная в 2009 году, NTSS является глобальной высокотехнологичной компанией, предоставляющей
                        высокоскоростные сетевые решения и услуги для нескольких отраслей промышленности. NTSS
                        предлагает широкий спектр стандартных телекоммуникационных продуктов, а также может настраивать
                        продукты в соответствии с индивидуальными потребностями. Мы управляем нашей отраслью,
                        обеспечивая эффективность, высокое качество, непрерывные инновации и легкость доступа ко всем
                        нашим клиентам.
                    </p>
                    <button class="c-btn c-btn_style-default c-btn_color-primary c-btn_lg c-btn_width-md" type="button">
                        Читать подробнее
                    </button>
                </div>
                <div class="col-6 offset-1">
                    <img alt="" src="images/about-main-page.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-section c-section_lg u-bg-tertiary">

    <div class="owl-carousel c-slider c-slider_w-auto" data-main-slider="3">
        <div class="c-slider__item">
            <img alt="" src="images/banner_download.png">
        </div>
        <div class="c-slider__item">
            <img alt="" src="images/about-main-page.jpg">
        </div>
    </div>
    <div class="slide-desc">
        Каталог телекоммуникационных и серверных шкафов NTSS
        <a class="c-link mt-3" download href="images/banner_download.png">
            Скачать
        </a>
    </div>
</div>
</body>

<script src="js/jquery.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.mask.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/script.js"></script>
</html>

