.c-alert {
  display: block;
  border: 1px solid;
  padding: 20px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;

  &_success {
    border-color: $color-success;
    background-color: rgba($color-success, 20%);
  }

  &_error {
    border-color: $color-error;
    background-color: rgba($color-error, 20%);
  }

  &_warning {
    border-color: $color-warning;
    background-color: rgba($color-warning, 20%);
  }
}
